/* Reset */
* {
  font-family: "Varela Round", "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f7fd;
}

/* Custom Class */
.my-flex-row {
  display: flex;
  flex-direction: row;
}
.my-flex-col {
  display: flex;
  flex-direction: column;
}
.my-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide-data {
  display: none;
}

/* Custom Buttons */
.btn {
  text-transform: none;
}

.display-area {
  position: fixed;
  right: 0;
  top: 65px;
  height: 100%;
  width: 1146px;
  box-sizing: border-box;
  padding: 2% 3%;
  background-color: transparent;
  color: black;
  // background-image: url("images/display-background.jpg");
  // background-size: cover;
}

.content-title {
  font-size: 25px;
  font-weight: 500;
  color: #171931;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.content-title-holder {
  justify-content: space-between;
  height: 68px;
}

.utl-btn {
  margin-inline-start: 20px;
}
.make-green {
  color: green;
}
.make-red {
  color: red;
}

/* Notification  */
.notification {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  border-radius: 4px;
  background: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 500;
}

.notification.success {
  background: #d4edda;
  color: #155724;
}

.notification.error {
  background: #f8d7da;
  color: #721c24;
}

.notification-content {
  display: flex;
  align-items: center;
}

.notification-icon {
  margin-right: 10px;
}

/* Forms */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
select:focus {
  border-color: #b2b8be;
  box-shadow: 0 0 8px rgba(108, 115, 122, 0.5);
  outline: none;
}
